<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fuel Consumption Report</ion-title>
  </ion-navbar>
  <ion-item style="background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">Select Vehicle</ion-label>
    <select-searchable
      item-content
      [(ngModel)]="selectedVehicle"
      [items]="portstemp"
      itemValueField="Device_Name"
      itemTextField="Device_Name"
      [canSearch]="true"
      (onChange)="getId(selectedVehicle)"
    >
    </select-searchable>
  </ion-item>
  <ion-item style="background-color: #fafafa;">
    <ion-label>Report Type</ion-label>
    <ion-select [(ngModel)]="repkey">
      <ion-option
        *ngFor="let rep of reportType"
        [value]="rep"
        (ionSelect)="reportWise(rep)"
        [selected]="repkey === rep"
        >{{ rep }}</ion-option
      >
    </ion-select>
  </ion-item>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">From Date</span>
        <ion-datetime
          displayFormat="DD-MM-YYYY hh:mm a"
          pickerFormat="DD/MM/YY hh:mm a"
          [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"
        >
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">To Date</span>
        <ion-datetime
          displayFormat="DD-MM-YYYY hh:mm a"
          pickerFormat="DD/MM/YY hh:mm a"
          [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"
        >
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right;">
        <ion-icon
          ios="ios-search"
          md="md-search"
          style="font-size:2.3em;"
          (click)="getReport()"
        ></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-card *ngFor="let r of fuelDataArr; let i = index">
    <ion-card-header no-padding>
      <ion-item *ngIf="repkey !== 'Trip'">
        <ion-avatar item-start>
          <img src="assets/imgs/car_red_icon.png" />
        </ion-avatar>
        <ion-label>{{ r.vehicle_name }}</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content
      [ngClass]="{ paddClass: repkey === 'Trip' }"
    >
      <ion-row
        style="color:#009688;margin-left:0%;font-size: 11px;font-weight: 350;"
      >
        <ion-col col-4 ion-text text-wrap>Start Time</ion-col>
        <ion-col col-4 ion-text text-wrap>End Time</ion-col>
        <ion-col col-4 ion-text text-wrap>Distance(Kms)</ion-col>
      </ion-row>
      <ion-row
        style="color:gray;font-size:11px; text-align:left;font-weight: 400;"
      >
        <ion-col col-4 ion-text text-wrap
          >{{ r.start_time | date: "mediumDate" }},{{
            r.start_time | date: "shortTime"
          }}</ion-col
        >
        <ion-col col-4 ion-text text-wrap>{{
          r.end_time | date: "mediumDate"
        }},{{
          r.end_time | date: "shortTime"
        }}</ion-col>
        <ion-col col-4 ion-text text-wrap>{{
          r.distance | number: "1.0-2"
        }}</ion-col>
      </ion-row>

      <ion-row
        style="color:#009688;margin-left:0%;font-size: 11px;font-weight: 350;"
      >
        <ion-col col-4 ion-text text-wrap>Fuel Con(Litre)</ion-col>
        <ion-col col-4 ion-text text-wrap>In event count</ion-col>
        <ion-col col-4 ion-text text-wrap>Out event count</ion-col>
      </ion-row>
      <ion-row
        style="color:gray;font-size:11px; text-align:left;font-weight: 400;"
      >
        <ion-col col-4>{{ r.fuel_consumed | number: "1.0-2" }}</ion-col>
        <ion-col
          col-4
          *ngIf="r.in_event_count > 0"
          tappable
          (click)="getFuelNotifs(r, 'IN')"
          >{{ r.in_event_count }}</ion-col
        >
        <ion-col col-4 *ngIf="r.in_event_count === 0">{{
          r.in_event_count
        }}</ion-col>
        <ion-col
          col-4
          *ngIf="r.out_event_count > 0"
          tappable
          (click)="getFuelNotifs(r, 'OUT')"
          >{{ r.out_event_count }}</ion-col
        >
        <ion-col col-4 *ngIf="r.out_event_count === 0">{{
          r.out_event_count
        }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1
          ><ion-icon name="pin" style="color:#33c45c;font-size:15px;"></ion-icon
        ></ion-col>
        <ion-col
          col-11
          *ngIf="r.start_location === 'NA'"
          style="color:gray;font-size:11px;font-weight: 400;"
          >N/A</ion-col
        >
        <ion-col
          col-11
          *ngIf="r.start_location !== 'NA'"
          (onCreate2)="device_address(r, i)"
          style="color:gray;font-size:11px;font-weight: 400;"
          >{{ r.saddress }}</ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col col-1
          ><ion-icon name="pin" style="color:#e14444;font-size:15px;"></ion-icon
        ></ion-col>
        <ion-col
          col-11
          *ngIf="r.end_location === 'NA'"
          style="color:gray;font-size:11px;font-weight: 400;"
          >N/A</ion-col
        >
        <ion-col
          col-11
          *ngIf="r.end_location !== 'NA'"
          (onCreate2)="device_eaddress(r, i)"
          style="color:gray;font-size:11px;font-weight: 400;"
          >{{ r.eaddress }}</ion-col
        >
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
